body{
    background-color: #751aff;
    text-align:center;
      
}
button{
    color:#660066;
     background-color:#cc99ff;
    font-family: 'Alegreya Sans', sans-serif;
    width: 80%;
      font-size: 14px;
    
}
h1{
    font-family: 'Alegreya Sans', sans-serif;
}    

img{
    
    border-color: black;
    border-width: 2px;
    border-style: solid; 
}